<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ButtonConfig</key>
	<dict>
		<key>query</key>
		<string>{{630,75},{97,42}}</string>
		<key>log</key>
		<string>{{510,75},{97,42}}</string>
	</dict>
	<key>MenuItemList</key>
	<array>
		<dict>
			<key>classid</key>
			<string>1</string>
		</dict>
		<dict>
			<key>classid</key>
			<string>2</string>
		</dict>
		<dict>
			<key>classid</key>
			<string>3</string>
		</dict>
		<dict>
			<key>classid</key>
			<string>4</string>
		</dict>
		<dict>
			<key>classid</key>
			<string>5</string>
		</dict>
	</array>
	<key>FoodDetail</key>
	<dict>
		<key>Ordered</key>
		<string>{{20,167},{84,96}}</string>
		<key>Confirm</key>
		<string>{{630,670},{97,42}}</string>
		<key>Description</key>
		<string>{{20,880},{400,32}}</string>
		<key>EnglishName</key>
		<string>{{20,840},{300,20}}</string>
		<key>Photo</key>
		<string>{{10,155},{748,625}}</string>
		<key>CountTitle</key>
		<string>{{20,960},{86,28}}</string>
		<key>Unit</key>
		<string>{{635,818},{150,35}}</string>
		<key>Back</key>
		<string>{{44,187},{102,49}}</string>
		<key>Additions</key>
		<string>{{520,670},{97,42}}</string>
		<key>Count</key>
		<string>{{110,960},{100,28}}</string>
		<key>ChineseName</key>
		<string>{{20,805},{300,30}}</string>
		<key>Minus</key>
		<string>{{300,670},{97,42}}</string>
		<key>Price</key>
		<string>{{545,805},{84,45}}</string>
		<key>Comments</key>
		<string>{{450,955},{268,45}}</string>
		<key>ChangeUnit</key>
		<string>{{540,800},{185,55}}</string>
		<key>Plus</key>
		<string>{{410,670},{97,42}}</string>
	</dict>
	<key>ResourceConfig</key>
	<dict>
		<key>button</key>
		<dict>
			<key>minus</key>
			<string>reducefood.png</string>
			<key>additions</key>
			<string>additions.png</string>
			<key>query</key>
			<string>query.png</string>
			<key>ordered</key>
			<string>orderedsmall.png</string>
			<key>log</key>
			<string>log.png</string>
			<key>plus</key>
			<string>addfood.png</string>
			<key>back</key>
			<string>xbback.png</string>
			<key>fav</key>
			<string>fav.png</string>
			<key>confirm</key>
			<string>confirm.png</string>
		</dict>
		<key>line</key>
		<string>line.png</string>
	</dict>
	<key>PageList</key>
	<array>
		<dict>
			<key>hideMenu</key>
			<true/>
			<key>hideButton</key>
			<true/>
			<key>type</key>
			<string>封面</string>
			<key>images</key>
			<array>
				<string>cover1.png</string>
			</array>
		</dict>
		<dict>
			<key>frame</key>
			<dict>
				<key>Comments</key>
				<string>{{450,955},{268,45}}</string>
				<key>Confirm</key>
				<string>{{630,942},{97,42}}</string>
				<key>Description</key>
				<string>{{20,880},{400,32}}</string>
				<key>EnglishName</key>
				<string>{{20,840},{300,20}}</string>
				<key>Photo</key>
				<string>{{10,155},{748,625}}</string>
				<key>ChangeUnit</key>
				<string>{{540,800},{185,55}}</string>
				<key>Unit</key>
				<string>{{635,818},{100,35}}</string>
				<key>Back</key>
				<string>{{13,56},{102,49}}</string>
				<key>Additions</key>
				<string>{{520,942},{97,42}}</string>
				<key>Count</key>
				<string>{{110,960},{100,28}}</string>
				<key>ChineseName</key>
				<string>{{20,805},{200,30}}</string>
				<key>Minus</key>
				<string>{{300,942},{97,42}}</string>
				<key>Price</key>
				<string>{{545,805},{84,45}}</string>
				<key>Ordered</key>
				<string>{{0,0},{200,200}}</string>
				<key>Plus</key>
				<string>{{410,942},{97,42}}</string>
				<key>CountTitle</key>
				<string>{{20,960},{86,28}}</string>
			</dict>
			<key>foodid</key>
			<string>100001</string>
			<key>hideMenu</key>
			<false/>
			<key>type</key>
			<string>推荐菜</string>
			<key>ordered</key>
			<string>orderedbig.png</string>
			<key>background</key>
			<string>100001.png</string>
		</dict>
		<dict>
			<key>frame</key>
			<dict>
				<key>Comments</key>
				<string>{{450,955},{268,45}}</string>
				<key>Confirm</key>
				<string>{{630,942},{97,42}}</string>
				<key>Description</key>
				<string>{{20,880},{400,32}}</string>
				<key>EnglishName</key>
				<string>{{20,840},{300,20}}</string>
				<key>Photo</key>
				<string>{{10,155},{748,625}}</string>
				<key>ChangeUnit</key>
				<string>{{540,800},{185,55}}</string>
				<key>Unit</key>
				<string>{{635,818},{100,35}}</string>
				<key>Back</key>
				<string>{{13,56},{102,49}}</string>
				<key>Additions</key>
				<string>{{520,942},{97,42}}</string>
				<key>Count</key>
				<string>{{110,960},{100,28}}</string>
				<key>ChineseName</key>
				<string>{{20,805},{200,30}}</string>
				<key>Minus</key>
				<string>{{300,942},{97,42}}</string>
				<key>Price</key>
				<string>{{545,805},{84,45}}</string>
				<key>Ordered</key>
				<string>{{0,0},{200,200}}</string>
				<key>Plus</key>
				<string>{{410,942},{97,42}}</string>
				<key>CountTitle</key>
				<string>{{20,960},{86,28}}</string>
			</dict>
			<key>foodid</key>
			<string>200003</string>
			<key>hideMenu</key>
			<false/>
			<key>type</key>
			<string>推荐菜</string>
			<key>ordered</key>
			<string>orderedbig.png</string>
			<key>background</key>
			<string>200003.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>类别列表</string>
			<key>background</key>
			<string>purebg.png</string>
			<key>categories</key>
			<array>
				<dict>
					<key>frame</key>
					<string>{{15,135},{235,195}}</string>
					<key>classid</key>
					<string>1</string>
					<key>height</key>
					<string>30</string>
					<key>font</key>
					<string>15</string>
				</dict>
				<dict>
					<key>frame</key>
					<string>{{265,135},{235,195}}</string>
					<key>classid</key>
					<string>2</string>
					<key>height</key>
					<string>30</string>
					<key>font</key>
					<string>15</string>
				</dict>
				<dict>
					<key>frame</key>
					<string>{{515,135},{235,195}}</string>
					<key>classid</key>
					<string>3</string>
					<key>height</key>
					<string>30</string>
					<key>font</key>
					<string>15</string>
				</dict>
				<dict>
					<key>frame</key>
					<string>{{15,395},{235,195}}</string>
					<key>classid</key>
					<string>4</string>
					<key>height</key>
					<string>30</string>
					<key>font</key>
					<string>15</string>
				</dict>
				<dict>
					<key>frame</key>
					<string>{{265,395},{235,195}}</string>
					<key>classid</key>
					<string>5</string>
					<key>height</key>
					<string>30</string>
					<key>font</key>
					<string>15</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>classid</key>
			<string>1</string>
			<key>foods</key>
			<array>
				<dict>
					<key>back</key>
					<dict>
						<key>cancel</key>
						<string>cancelback.png</string>
						<key>detail</key>
						<string>detailback.png</string>
						<key>subtract</key>
						<string>minusnormal.png</string>
						<key>frame</key>
						<dict>
							<key>Cancel</key>
							<string>{{20,245},{90,30}}</string>
							<key>Detail</key>
							<string>{{120,210},{90,30}}</string>
							<key>Confirm</key>
							<string>{{120,245},{90,30}}</string>
							<key>Additions</key>
							<string>{{20,210},{90,30}}</string>
							<key>Add</key>
							<string>{{20,40},{30,30}};{{20,90},{30,30}};{{20,140},{30,30}}</string>
							<key>Subtract</key>
							<string>{{60,40},{30,30}};{{60,90},{30,30}};{{60,140},{30,30}}</string>
							<key>Price</key>
							<string>{{115,20},{40,20}};{{115,70},{40,20}};{{115,120},{40,20}}</string>
							<key>Count</key>
							<string>{{150,45},{60,20}};{{150,95},{60,20}};{{150,145},{60,20}}</string>
							<key>Name</key>
							<string>{{20,20},{120,18}};{{20,70},{120,18}};{{20,120},{120,18}}</string>
							<key>Unit</key>
							<string>{{150,20},{60,20}};{{150,70},{60,20}};{{150,120},{60,20}}</string>
						</dict>
						<key>background</key>
						<string>backbg.png</string>
						<key>confirm</key>
						<string>confirmback.png</string>
						<key>add</key>
						<string>plusnormal.png</string>
						<key>additions</key>
						<string>additionsback.png</string>
					</dict>
					<key>frame</key>
					<dict>
						<key>Confirm</key>
						<string>{{0,0},{106,33}}</string>
						<key>EnglishName</key>
						<string>{{1, 400}, {122, 18}}</string>
						<key>Line</key>
						<string></string>
						<key>Photo</key>
						<string>{{9, 0}, {218, 328}}</string>
						<key>Description</key>
						<string></string>
						<key>Unit</key>
						<string>{{175, 363}, {60, 20}}</string>
						<key>Count</key>
						<string>{{195, 400}, {30, 18}}</string>
						<key>ChineseName</key>
						<string>{{0, 358}, {122, 22}}</string>
						<key>Minus</key>
						<string></string>
						<key>Price</key>
						<string>{{105, 358}, {60, 23}}</string>
						<key>Ordered</key>
						<string>{{15,5},{84,96}}</string>
						<key>MainFrame</key>
						<string>{{24,160},{232,328}}</string>
						<key>Plus</key>
						<string></string>
					</dict>
					<key>disableDetail</key>
					<true/>
					<key>showBack</key>
					<true/>
					<key>recommends</key>
					<dict>
						<key>cancel</key>
						<string>cancelback.png</string>
						<key>height</key>
						<string>推荐菜列表的单个菜品高度</string>
						<key>frame</key>
						<dict>
							<key>Cancel</key>
							<string>{{120,288},{90,30}}</string>
							<key>Confirm</key>
							<string>{{20,288},{90,30}}</string>
							<key>List</key>
							<string>{{10,50},{208,245}}</string>
							<key>Title</key>
							<string></string>
						</dict>
						<key>title</key>
						<string>点此菜的用户还点了其他菜</string>
						<key>background</key>
						<string>recommendsbg.png</string>
						<key>confirm</key>
						<string>confirmback.png</string>
						<key>foods</key>
						<array/>
					</dict>
					<key>ITCODE</key>
					<string>100001</string>
				</dict>
				<dict>
					<key>back</key>
					<dict>
						<key>cancel</key>
						<string>cancelback.png</string>
						<key>detail</key>
						<string>detailback.png</string>
						<key>subtract</key>
						<string>minusnormal.png</string>
						<key>frame</key>
						<dict>
							<key>Cancel</key>
							<string>{{20,245},{90,30}}</string>
							<key>Detail</key>
							<string>{{120,210},{90,30}}</string>
							<key>Confirm</key>
							<string>{{120,245},{90,30}}</string>
							<key>Additions</key>
							<string>{{20,210},{90,30}}</string>
							<key>Add</key>
							<string>{{20,40},{30,30}};{{20,90},{30,30}};{{20,140},{30,30}}</string>
							<key>Subtract</key>
							<string>{{60,40},{30,30}};{{60,90},{30,30}};{{60,140},{30,30}}</string>
							<key>Price</key>
							<string>{{115,20},{40,20}};{{115,70},{40,20}};{{115,120},{40,20}}</string>
							<key>Count</key>
							<string>{{150,45},{60,20}};{{150,95},{60,20}};{{150,145},{60,20}}</string>
							<key>Name</key>
							<string>{{20,20},{120,18}};{{20,70},{120,18}};{{20,120},{120,18}}</string>
							<key>Unit</key>
							<string>{{150,20},{60,20}};{{150,70},{60,20}};{{150,120},{60,20}}</string>
						</dict>
						<key>background</key>
						<string>backbg.png</string>
						<key>confirm</key>
						<string>confirmback.png</string>
						<key>add</key>
						<string>plusnormal.png</string>
						<key>additions</key>
						<string>additionsback.png</string>
					</dict>
					<key>frame</key>
					<dict>
						<key>Confirm</key>
						<string>{{0,0},{106,33}}</string>
						<key>EnglishName</key>
						<string>{{1, 400}, {122, 18}}</string>
						<key>Line</key>
						<string></string>
						<key>Photo</key>
						<string>{{9, 0}, {218, 328}}</string>
						<key>Description</key>
						<string></string>
						<key>Unit</key>
						<string>{{175, 363}, {60, 20}}</string>
						<key>Count</key>
						<string>{{195, 400}, {30, 18}}</string>
						<key>ChineseName</key>
						<string>{{0, 358}, {122, 22}}</string>
						<key>Minus</key>
						<string></string>
						<key>Price</key>
						<string>{{105, 358}, {60, 23}}</string>
						<key>Ordered</key>
						<string>{{15,5},{84,96}}</string>
						<key>MainFrame</key>
						<string>{{268,160},{232,328}}</string>
						<key>Plus</key>
						<string></string>
					</dict>
					<key>disableDetail</key>
					<true/>
					<key>showBack</key>
					<true/>
					<key>recommends</key>
					<dict>
						<key>cancel</key>
						<string>cancelback.png</string>
						<key>height</key>
						<string>推荐菜列表的单个菜品高度</string>
						<key>frame</key>
						<dict>
							<key>Cancel</key>
							<string>{{120,288},{90,30}}</string>
							<key>Confirm</key>
							<string>{{20,288},{90,30}}</string>
							<key>List</key>
							<string>{{10,50},{208,245}}</string>
							<key>Title</key>
							<string></string>
						</dict>
						<key>title</key>
						<string>点此菜的用户还点了其他菜</string>
						<key>background</key>
						<string>recommendsbg.png</string>
						<key>confirm</key>
						<string>confirmback.png</string>
						<key>foods</key>
						<array/>
					</dict>
					<key>ITCODE</key>
					<string>100002</string>
				</dict>
			</array>
			<key>type</key>
			<string>菜品列表</string>
			<key>background</key>
			<string>bg1.png</string>
		</dict>
		<dict>
			<key>classid</key>
			<string>2</string>
			<key>foods</key>
			<array>
				<dict>
					<key>back</key>
					<dict>
						<key>cancel</key>
						<string>cancelback.png</string>
						<key>detail</key>
						<string>detailback.png</string>
						<key>subtract</key>
						<string>minusnormal.png</string>
						<key>frame</key>
						<dict>
							<key>Cancel</key>
							<string>{{20,245},{90,30}}</string>
							<key>Detail</key>
							<string>{{120,210},{90,30}}</string>
							<key>Confirm</key>
							<string>{{120,245},{90,30}}</string>
							<key>Additions</key>
							<string>{{20,210},{90,30}}</string>
							<key>Add</key>
							<string>{{20,40},{30,30}};{{20,90},{30,30}};{{20,140},{30,30}}</string>
							<key>Subtract</key>
							<string>{{60,40},{30,30}};{{60,90},{30,30}};{{60,140},{30,30}}</string>
							<key>Price</key>
							<string>{{115,20},{40,20}};{{115,70},{40,20}};{{115,120},{40,20}}</string>
							<key>Count</key>
							<string>{{150,45},{60,20}};{{150,95},{60,20}};{{150,145},{60,20}}</string>
							<key>Name</key>
							<string>{{20,20},{120,18}};{{20,70},{120,18}};{{20,120},{120,18}}</string>
							<key>Unit</key>
							<string>{{150,20},{60,20}};{{150,70},{60,20}};{{150,120},{60,20}}</string>
						</dict>
						<key>background</key>
						<string>backbg.png</string>
						<key>confirm</key>
						<string>confirmback.png</string>
						<key>add</key>
						<string>plusnormal.png</string>
						<key>additions</key>
						<string>additionsback.png</string>
					</dict>
					<key>frame</key>
					<dict>
						<key>Confirm</key>
						<string>{{0,0},{106,33}}</string>
						<key>EnglishName</key>
						<string>{{1, 400}, {122, 18}}</string>
						<key>Line</key>
						<string></string>
						<key>Photo</key>
						<string>{{9, 0}, {218, 328}}</string>
						<key>Description</key>
						<string></string>
						<key>Unit</key>
						<string>{{175, 363}, {60, 20}}</string>
						<key>Count</key>
						<string>{{195, 400}, {30, 18}}</string>
						<key>ChineseName</key>
						<string>{{0, 358}, {122, 22}}</string>
						<key>Minus</key>
						<string></string>
						<key>Price</key>
						<string>{{105, 358}, {60, 23}}</string>
						<key>Ordered</key>
						<string>{{15,5},{84,96}}</string>
						<key>MainFrame</key>
						<string>{{24,160},{232,328}}</string>
						<key>Plus</key>
						<string></string>
					</dict>
					<key>disableDetail</key>
					<true/>
					<key>showBack</key>
					<true/>
					<key>recommends</key>
					<dict>
						<key>cancel</key>
						<string>cancelback.png</string>
						<key>height</key>
						<string>推荐菜列表的单个菜品高度</string>
						<key>frame</key>
						<dict>
							<key>Cancel</key>
							<string>{{120,288},{90,30}}</string>
							<key>Confirm</key>
							<string>{{20,288},{90,30}}</string>
							<key>List</key>
							<string>{{10,50},{208,245}}</string>
							<key>Title</key>
							<string></string>
						</dict>
						<key>title</key>
						<string>点此菜的用户还点了其他菜</string>
						<key>background</key>
						<string>recommendsbg.png</string>
						<key>confirm</key>
						<string>confirmback.png</string>
						<key>foods</key>
						<array/>
					</dict>
					<key>ITCODE</key>
					<string>200003</string>
				</dict>
				<dict>
					<key>back</key>
					<dict>
						<key>cancel</key>
						<string>cancelback.png</string>
						<key>detail</key>
						<string>detailback.png</string>
						<key>subtract</key>
						<string>minusnormal.png</string>
						<key>frame</key>
						<dict>
							<key>Cancel</key>
							<string>{{20,245},{90,30}}</string>
							<key>Detail</key>
							<string>{{120,210},{90,30}}</string>
							<key>Confirm</key>
							<string>{{120,245},{90,30}}</string>
							<key>Additions</key>
							<string>{{20,210},{90,30}}</string>
							<key>Add</key>
							<string>{{20,40},{30,30}};{{20,90},{30,30}};{{20,140},{30,30}}</string>
							<key>Subtract</key>
							<string>{{60,40},{30,30}};{{60,90},{30,30}};{{60,140},{30,30}}</string>
							<key>Price</key>
							<string>{{115,20},{40,20}};{{115,70},{40,20}};{{115,120},{40,20}}</string>
							<key>Count</key>
							<string>{{150,45},{60,20}};{{150,95},{60,20}};{{150,145},{60,20}}</string>
							<key>Name</key>
							<string>{{20,20},{120,18}};{{20,70},{120,18}};{{20,120},{120,18}}</string>
							<key>Unit</key>
							<string>{{150,20},{60,20}};{{150,70},{60,20}};{{150,120},{60,20}}</string>
						</dict>
						<key>background</key>
						<string>backbg.png</string>
						<key>confirm</key>
						<string>confirmback.png</string>
						<key>add</key>
						<string>plusnormal.png</string>
						<key>additions</key>
						<string>additionsback.png</string>
					</dict>
					<key>frame</key>
					<dict>
						<key>Confirm</key>
						<string>{{0,0},{106,33}}</string>
						<key>EnglishName</key>
						<string>{{1, 400}, {122, 18}}</string>
						<key>Line</key>
						<string></string>
						<key>Photo</key>
						<string>{{9, 0}, {218, 328}}</string>
						<key>Description</key>
						<string></string>
						<key>Unit</key>
						<string>{{175, 363}, {60, 20}}</string>
						<key>Count</key>
						<string>{{195, 400}, {30, 18}}</string>
						<key>ChineseName</key>
						<string>{{0, 358}, {122, 22}}</string>
						<key>Minus</key>
						<string></string>
						<key>Price</key>
						<string>{{105, 358}, {60, 23}}</string>
						<key>Ordered</key>
						<string>{{15,5},{84,96}}</string>
						<key>MainFrame</key>
						<string>{{268,160},{232,328}}</string>
						<key>Plus</key>
						<string></string>
					</dict>
					<key>disableDetail</key>
					<true/>
					<key>showBack</key>
					<true/>
					<key>recommends</key>
					<dict>
						<key>cancel</key>
						<string>cancelback.png</string>
						<key>height</key>
						<string>推荐菜列表的单个菜品高度</string>
						<key>frame</key>
						<dict>
							<key>Cancel</key>
							<string>{{120,288},{90,30}}</string>
							<key>Confirm</key>
							<string>{{20,288},{90,30}}</string>
							<key>List</key>
							<string>{{10,50},{208,245}}</string>
							<key>Title</key>
							<string></string>
						</dict>
						<key>title</key>
						<string>点此菜的用户还点了其他菜</string>
						<key>background</key>
						<string>recommendsbg.png</string>
						<key>confirm</key>
						<string>confirmback.png</string>
						<key>foods</key>
						<array/>
					</dict>
					<key>ITCODE</key>
					<string>200004</string>
				</dict>
			</array>
			<key>type</key>
			<string>菜品列表</string>
			<key>background</key>
			<string>bg2.png</string>
		</dict>
		<dict>
			<key>classid</key>
			<string>3</string>
			<key>foods</key>
			<array>
				<dict>
					<key>back</key>
					<dict>
						<key>cancel</key>
						<string>cancelback.png</string>
						<key>detail</key>
						<string>detailback.png</string>
						<key>subtract</key>
						<string>minusnormal.png</string>
						<key>frame</key>
						<dict>
							<key>Cancel</key>
							<string>{{20,245},{90,30}}</string>
							<key>Detail</key>
							<string>{{120,210},{90,30}}</string>
							<key>Confirm</key>
							<string>{{120,245},{90,30}}</string>
							<key>Additions</key>
							<string>{{20,210},{90,30}}</string>
							<key>Add</key>
							<string>{{20,40},{30,30}};{{20,90},{30,30}};{{20,140},{30,30}}</string>
							<key>Subtract</key>
							<string>{{60,40},{30,30}};{{60,90},{30,30}};{{60,140},{30,30}}</string>
							<key>Price</key>
							<string>{{115,20},{40,20}};{{115,70},{40,20}};{{115,120},{40,20}}</string>
							<key>Count</key>
							<string>{{150,45},{60,20}};{{150,95},{60,20}};{{150,145},{60,20}}</string>
							<key>Name</key>
							<string>{{20,20},{120,18}};{{20,70},{120,18}};{{20,120},{120,18}}</string>
							<key>Unit</key>
							<string>{{150,20},{60,20}};{{150,70},{60,20}};{{150,120},{60,20}}</string>
						</dict>
						<key>background</key>
						<string>backbg.png</string>
						<key>confirm</key>
						<string>confirmback.png</string>
						<key>add</key>
						<string>plusnormal.png</string>
						<key>additions</key>
						<string>additionsback.png</string>
					</dict>
					<key>frame</key>
					<dict>
						<key>Confirm</key>
						<string>{{0,0},{106,33}}</string>
						<key>EnglishName</key>
						<string>{{1, 400}, {122, 18}}</string>
						<key>Line</key>
						<string></string>
						<key>Photo</key>
						<string>{{9, 0}, {218, 328}}</string>
						<key>Description</key>
						<string></string>
						<key>Unit</key>
						<string>{{175, 363}, {60, 20}}</string>
						<key>Count</key>
						<string>{{195, 400}, {30, 18}}</string>
						<key>ChineseName</key>
						<string>{{0, 358}, {122, 22}}</string>
						<key>Minus</key>
						<string></string>
						<key>Price</key>
						<string>{{105, 358}, {60, 23}}</string>
						<key>Ordered</key>
						<string>{{15,5},{84,96}}</string>
						<key>MainFrame</key>
						<string>{{24,160},{232,328}}</string>
						<key>Plus</key>
						<string></string>
					</dict>
					<key>disableDetail</key>
					<true/>
					<key>showBack</key>
					<true/>
					<key>recommends</key>
					<dict>
						<key>cancel</key>
						<string>cancelback.png</string>
						<key>height</key>
						<string>推荐菜列表的单个菜品高度</string>
						<key>frame</key>
						<dict>
							<key>Cancel</key>
							<string>{{120,288},{90,30}}</string>
							<key>Confirm</key>
							<string>{{20,288},{90,30}}</string>
							<key>List</key>
							<string>{{10,50},{208,245}}</string>
							<key>Title</key>
							<string></string>
						</dict>
						<key>title</key>
						<string>点此菜的用户还点了其他菜</string>
						<key>background</key>
						<string>recommendsbg.png</string>
						<key>confirm</key>
						<string>confirmback.png</string>
						<key>foods</key>
						<array/>
					</dict>
					<key>ITCODE</key>
					<string>300006</string>
				</dict>
			</array>
			<key>type</key>
			<string>菜品列表</string>
			<key>background</key>
			<string>bg3.png</string>
		</dict>
		<dict>
			<key>classid</key>
			<string>4</string>
			<key>foods</key>
			<array>
				<dict>
					<key>back</key>
					<dict>
						<key>cancel</key>
						<string>cancelback.png</string>
						<key>detail</key>
						<string>detailback.png</string>
						<key>subtract</key>
						<string>minusnormal.png</string>
						<key>frame</key>
						<dict>
							<key>Cancel</key>
							<string>{{20,245},{90,30}}</string>
							<key>Detail</key>
							<string>{{120,210},{90,30}}</string>
							<key>Confirm</key>
							<string>{{120,245},{90,30}}</string>
							<key>Additions</key>
							<string>{{20,210},{90,30}}</string>
							<key>Add</key>
							<string>{{20,40},{30,30}};{{20,90},{30,30}};{{20,140},{30,30}}</string>
							<key>Subtract</key>
							<string>{{60,40},{30,30}};{{60,90},{30,30}};{{60,140},{30,30}}</string>
							<key>Price</key>
							<string>{{115,20},{40,20}};{{115,70},{40,20}};{{115,120},{40,20}}</string>
							<key>Count</key>
							<string>{{150,45},{60,20}};{{150,95},{60,20}};{{150,145},{60,20}}</string>
							<key>Name</key>
							<string>{{20,20},{120,18}};{{20,70},{120,18}};{{20,120},{120,18}}</string>
							<key>Unit</key>
							<string>{{150,20},{60,20}};{{150,70},{60,20}};{{150,120},{60,20}}</string>
						</dict>
						<key>background</key>
						<string>backbg.png</string>
						<key>confirm</key>
						<string>confirmback.png</string>
						<key>add</key>
						<string>plusnormal.png</string>
						<key>additions</key>
						<string>additionsback.png</string>
					</dict>
					<key>frame</key>
					<dict>
						<key>Confirm</key>
						<string>{{0,0},{106,33}}</string>
						<key>EnglishName</key>
						<string>{{1, 400}, {122, 18}}</string>
						<key>Line</key>
						<string></string>
						<key>Photo</key>
						<string>{{9, 0}, {218, 328}}</string>
						<key>Description</key>
						<string></string>
						<key>Unit</key>
						<string>{{175, 363}, {60, 20}}</string>
						<key>Count</key>
						<string>{{195, 400}, {30, 18}}</string>
						<key>ChineseName</key>
						<string>{{0, 358}, {122, 22}}</string>
						<key>Minus</key>
						<string></string>
						<key>Price</key>
						<string>{{105, 358}, {60, 23}}</string>
						<key>Ordered</key>
						<string>{{15,5},{84,96}}</string>
						<key>MainFrame</key>
						<string>{{24,160},{232,328}}</string>
						<key>Plus</key>
						<string></string>
					</dict>
					<key>disableDetail</key>
					<true/>
					<key>showBack</key>
					<true/>
					<key>recommends</key>
					<dict>
						<key>cancel</key>
						<string>cancelback.png</string>
						<key>height</key>
						<string>推荐菜列表的单个菜品高度</string>
						<key>frame</key>
						<dict>
							<key>Cancel</key>
							<string>{{120,288},{90,30}}</string>
							<key>Confirm</key>
							<string>{{20,288},{90,30}}</string>
							<key>List</key>
							<string>{{10,50},{208,245}}</string>
							<key>Title</key>
							<string></string>
						</dict>
						<key>title</key>
						<string>点此菜的用户还点了其他菜</string>
						<key>background</key>
						<string>recommendsbg.png</string>
						<key>confirm</key>
						<string>confirmback.png</string>
						<key>foods</key>
						<array/>
					</dict>
					<key>ITCODE</key>
					<string>400008</string>
				</dict>
			</array>
			<key>type</key>
			<string>菜品列表</string>
			<key>background</key>
			<string>bg4.png</string>
		</dict>
		<dict>
			<key>classid</key>
			<string>5</string>
			<key>foods</key>
			<array/>
			<key>type</key>
			<string>菜品列表</string>
			<key>background</key>
			<string>bg5.png</string>
		</dict>
	</array>
</dict>
</plist>
